/* ====base styles===== */

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
    
body {
    background-color: $black;
}

html,
ul,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $offWhite;
}

img {
    max-width: 100%; // Makes all images become responsive if the parent container wants to shrink */
    display: block; // removes extra padding at bottom of images */
    height: auto;
}

.aButton {
    font-family: 'Tulpen One', cursive;
    font-size: 1rem;
    color: $offWhite;
    background: $rustRed;
    padding: 0.12em 1em;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: $dustyOrange;
        color: $black;
    }
    &:focus {
        background-color: $dustyOrange;
        color: $black;
    }
}