/* ====base styles===== */

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}
    
body {
    background-color: $black;
}

html,
ul,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $offWhite;
}

img {
    // max-width: 100%; // Makes all images become responsive if the parent container wants to shrink */
    display: block; // removes extra padding at bottom of images */
    height: auto;
}

.aButton {
    font-family: 'Tulpen One', cursive;
    font-size: 1.8rem;
    text-transform: capitalize;
    color: $offWhite;
    background: $rustRed;
    padding: 0.4em 0.9em;
    line-height: 1.2rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: $dustyOrange;
        color: $black;
    }
    &:focus {
        background-color: $dustyOrange;
        color: $black;
    }
}

.formContainer {

    .topRow {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .top {
            width: 50%;
        }

        input {
            width: 100%;
            background-color: $black;
        }

        label {
            display: block;
            padding-left: 15px;
        }
    }

    label {
        display: block;
        padding-left: 15px;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 15vh;
        font-size: inherit;
        font-family: inherit;
        font-weight: lighter;
        color: $offWhite;
        margin-top: 40px;
        padding: 15px 0 0 20px;
        background-color: $black;
        border: 2px solid orange;
    }

    textarea::placeholder {
        opacity: 1;
        color: #fff;
        letter-spacing: 1.9px;
        font-size: 1.9rem;
        font-family: 'Chathura', sans-serif;
    }

    // form button
    button {
        font-family: 'Tulpen One', cursive;
        font-size: 1.8rem;
        text-transform: capitalize;
        color: $offWhite;
        background: $rustRed;
        padding: 0.3em 0.9em;
        line-height: 1.2rem;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        transition: 0.3s;
        width: 100%;
        margin-top: 40px;
        border: none;

        &:hover {
            background-color: $dustyOrange;
            color: $black;
        }

        &:focus {
            background-color: $dustyOrange;
            color: $black;
            border: 2px solid $offWhite;    
        }
        
    }
}

/* ====footer===== */

footer {
    background-color: #333;
    padding: 15px;
    text-align: center;
}
