/* ====Contact Sections SCSS===== */

.contactHeader {
    height: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../assets/contact-header-1.jpg");
    background-position: bottom;

    .title {
        flex-grow: 1;
        padding-top: 100px;
        text-transform: capitalize;
    }
}

.contactContainer {
    display: flex;
    height: 61vh;
    
    .social ul{
        display: flex;
        gap: 20px;
        width: 30vw;
        margin-bottom: 20px;
        
        li i {
            font-size: 1rem;
        }
    }

    .contactEmail {
        padding-bottom: 10px;
    }
    address {
        padding-top: 100px;
        width: 30%;    
    }

} 

/* ====contact form===== */

.contactFormContainer {
    background-color: $darkRed;
    padding: 50px;
    box-shadow: 15px 15px 0 0 $dustyOrange;
    position: relative;
    // left: 35%;
    // top: -20%;
    top: -100px;

    .contactTopRow input {
        background-color: $darkRed;
        border: none;
        border-bottom: 2px solid $offWhite;
    }

    textarea {
        background-color: $darkRed;
        border: 2px solid $offWhite;
        height: 25vh;
    }

    button {
        text-transform: capitalize;
    }
}
