/* ====Media Queries SCSS===== */

// desktop screen or below
@media (max-width: 960px) {
    //gap between blog sections to become smaller
    .blog .wrapper {
        
        .row {
            // outline: 2px solid red;
            column-gap: 100px;
        }
    }
}

    // floating image to be lower to miss the heading naturally

// tablet screen or below
@media (max-width: 768px) {

    .blog .wrapper .row {
        flex-direction: column;

        div {
            width: 100%;
        }

        &:nth-of-type(1) .textContainer {
            padding-top: 30px;
        }

        &:nth-of-type(2) h2 {
        padding-top: 100px;
        text-align: center;
        }

        .imageContainer .image {
            width: 100vw;
        }

        .textContainer {
            order: 1;
            
            h2 {
                text-align: center;
            }

            .aButton {
                align-self: center;
            }
            
            &:nth-of-type(1) .aButton {
                align-self: center;
                margin-bottom: 2rem;
            }
        }
    }

    .getInTouchTextBox {
        margin-top: 5rem;
    }

    .events {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

        .eventTextBox {
            text-align: center;

            .aButton {
                align-self: center ;
            }
        }
    }

    .information ul {
        flex-direction: column;

        li {
            width: 100%;
            // text-align: center;

        }
    }
}

// phone screen or below
@media (max-width: 480px) {
    
    .indexHeader img {
        display: none;
    }

    .information {
        padding-top: 2.5rem;
    }

    .instagram .galleryContainer {
        flex-direction: column;
        align-items: center;

        .gram {
            width: 75%;
        }
    }
}
    // information section stacked
    // blog section stacked
    // event section stacked
    // instagram stacked