/* ====Media Queries SCSS===== */

// desktop screen or below
@media (max-width: 960px) {

    /* ====index.scss===== */
    .blog .wrapper {
        
        .row {
            // outline: 2px solid red;
            column-gap: 100px;

            .imageContainer .image {
                width: calc(50vw - 50px)
            }
        }
    }

    .formContainer .topRow{
        flex-direction: column;

        .top {
            width: 100%;
        }
    }

    /* ====blog.scss===== */
    .blogBox {
        gap: 40px;

        .asideBar{
            font-size: 35px;
            min-width: 240px;

            li {
                font-size: 35px;
            }

            .missionImg {
                width: 300px;
            }
        }
    }

    /* ====contact.scss===== */

    .contactContainer {
        height: auto;
    }
}

// tablet screen or below
@media (max-width: 768px) {

    /* ====index.scss===== */

    .navigation {
        display: none;
    }
    
    .navMenu {
        display: inline;
    }

    // information section
    .information ul {
        flex-direction: column;

            li {
                width: 100%;
            }
        }

    // blog section
    .blog .wrapper .row {
        flex-direction: column;

        div {
            width: 100%;
        }

        &:nth-of-type(1) .textContainer {
            padding-top: 30px;
        }

        &:nth-of-type(2) h2 {
        padding-top: 100px;
        text-align: center;
        }

        .imageContainer {

            .image {
                width:100%;
            }
        }

        .textContainer {
            order: 1;
            
            h2 {
                text-align: center;
            }

            .aButton {
                align-self: center;
            }
            
            &:nth-of-type(1) .aButton {
                align-self: center;
                margin-bottom: 2rem;
            }
        }
    }

    // get in touch section
    .getInTouchTextBox {
        margin-top: 5rem;
    }
    
    // events section
    .events {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

        .eventTextBox {
            text-align: center;

            .aButton {
                align-self: center ;
            }
        }
    }

    /* ====blog.scss===== */
    
    // aside left hand side
    .asideBar {
        display: none;
    }

    // comments section
    .comments {
        align-items: center;

        h3 {
            width: 100%;
        }

        .comment {
            width: 100%;
        }
    }

    // form section
    .blogForm {
        align-items: center;
    }

    /* ====contact.scss===== */

    .contactContainer {
        flex-direction: column;
        align-items: center;

        //address information
        address {
            text-align: center;
            order: 1;
            padding-top: 0;
            margin-top: -50px;
            margin-bottom: 50px;
            width: 40%;
            min-width: 185px;

            // social media links
            .social ul {
                justify-content: center;
                width: 100%;
            }
        }
    }
}

// phone screen or below
@media (max-width: 480px) {
    
     /* ====index.scss===== */

        // header
    .indexHeader {
        .logoContainer h1 {
            white-space: normal;
        }

        img {
            display: none;
        }
    }

    // information section
    .information {
        padding-top: 2.5rem;
    }

    // instagram section
    .instagram .galleryContainer {
        flex-direction: column;
        align-items: center;

        .gram {
            width: 75%;
        }
    }

    /* ====blog.scss===== */

    // comments section
    .comment {
        flex-direction: column;

        .commentImg {
            align-self: center;

            img {
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }

    h3 {
        text-align: center;
    }

    // form section
    .blogForm {
        align-items: center;

        .blogTopRow,
        .blogTextArea {
            width: 100%;
        }
    }
}


