/* ====Menu Sections===== */

// header
.menuHeader {
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../assets/home-image-1.jpg");
  background-position: 15%;
  background-size: cover;

  .title {
    flex-grow: 1;
    padding-top: 100px;
    text-transform: capitalize;
  }
}

/* ====modal===== */

#modal {
  padding: 10px;
}

button {
  border: 0;
  cursor: pointer;
  background: $offWhite;
  color: $black;
  font-weight: 700;
  // padding: 5px 5px;
}


.button:hover,
.button:focus {
  color: $dustyOrange;
}

form {
  display: grid;
  gap: 1em;
}

.modal {
  width: 50%;

  .inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .selectionImgContainer {
      width: 200px;
      height: 200px;
      border: 1px solid #000;

      img {
        background-size: cover;
        max-width: 100%;
      }
    }

    h2 {
      color: $black;
      font-size: 2rem;
    }
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.8);
}

.modal > * {
  margin: 0 0 0.5rem 0;
}

/* ====menu===== */

.menuSection {
  display: flex;
  
  // order window
  .orderPage {
    background-color: #fff;
    color: #000;
    width: calc(100vw / 3);
    height: 100%;
    display: none;

    
    .orderContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 15px;
      padding: 20px 20px 20px 20px;
      border: 2px solid $black;
      font-size: 1.2rem;

      .closeOrderPage {
        align-self: flex-end;
      }

      h2 {
        color: $black;
        margin: 20px 0;
        font-size: 2rem;
        text-align: center;
      }

      ul {
        flex-basis: 200px;
        margin-bottom: 50px;

        li {
          display: flex;
          align-items: baseline;
          gap: 20px;
  
          p {
            font-size: 1rem;
            line-height: 25px;
            padding-right: 25px;
          }
          p:last-child {
            text-align: right;
            flex-grow: 1;
          }
  
          i {
            padding-right: 5px;
            font-size: 0.9rem;
          }
        }   
      } 
    }
  }
}


.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menuSectionHeader h2 {
    color: $dustyOrange;
    font-weight: 800;
    margin-top: 100px;
  }

  ul {
    display: flex;
    flex-direction: column;
    text-align: center;

    li p {
      &:first-child {
        cursor: pointer;
        text-transform: uppercase;
        margin-top: 50px;
        font-weight: 700;
        display: inline-block;
        border-bottom: 1px solid transparent;
        
        &:hover,
        &:focus {
          color: $dustyOrange;
          border-bottom: 1px solid $dustyOrange;
        }
      }
      
      &:nth-child(2) {
        // display: inline-block;
        font-size: 1.2rem ;
      }

      span {
        // display: inline;
        color: $dustyOrange;
        // margin-bottom: 50px;
      }
    }
  }
}
