/* ====Menu Sections===== */

// header
.menuHeader {
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../assets/home-image-1.jpg");
  background-position: 15%;
  background-size: cover;

  .title {
    flex-grow: 1;
    padding-top: 100px;
    text-transform: capitalize;
  }
}

/* ====modal===== */

#modal {
  padding: 10px;
}

button {
  border: 0;
  cursor: pointer;
  background: $offWhite;
  color: $black;
  font-weight: 700;
  // padding: 5px 5px;
}


.button:hover,
.button:focus {
  color: $dustyOrange;
}

form {
  display: grid;
  gap: 1em;
}

.modal {
  width: 50%;

  h2 {
    color: $black;
    font-size: 2rem;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.8);
}

.modal > * {
  margin: 0 0 0.5rem 0;
}

/* ====menu===== */
.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menuSectionHeader h2 {
    color: $dustyOrange;
    margin: 60px 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    text-align: center;

    .menuItem {
      margin-bottom: 40px;

     .menuItemHeading {
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 1.8rem;
      margin-bottom: 10px;
      
     }

      .menuItemDescription {
        display: inline-block;
        // margin-bottom: 10px;
      }

      .menuItemPrice {
        display: inline-block;
        color: $dustyOrange;
      }

    }
  }
}