/* ====Navigation===== */

// .skipLink {
//     font-size: 1rem;
//     padding: 10px;
//     background-color: $off-white;
//     color: $black;
//     position: absolute;
//     top: 0;
//     z-index: 10;
//     text-align: center;
//     width: 100%; // gives the container its size and centers on screen
//     left: -100%; // removes the container 100% off the screen to the left
//     &:focus {
//         left: 0;
//     }
// }

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 6vh;
    text-transform: uppercase;
    
    a {
        display: inline-flex;
        align-items: center;
        height: 35px;
        border-bottom: 2px solid transparent;

        &:hover {
            color: $dustyOrange;
            border-bottom: 2px solid $dustyOrange;

        }

        &:focus {
            color: $dustyOrange;
            // outline: none;
        }
    }

    h2 {
        text-transform: none;
    }
}



