html {
    font-size: 125%; // default font size 20px (1rem = 20px)
}

// paragraph styling
body {
    font-family: 'Roboto Mono', monospace;
    color: $offWhite;
    font-size: 1.3rem; // 39px
    line-height: 1.5rem; // 30px
    letter-spacing: -1.4px
}

h2, h3 {
    color: $offWhite;
}

// main logo
h1 {
    font-family: 'Tulpen One', cursive;
    font-size: 13.07rem; // 261.4px
    letter-spacing: 2.4px;
    line-height: 9.2rem;
    color: $dustyOrange;
}

h2 {
    font-size: 3rem; //83.2px
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 2.6px;
    margin-bottom: 0;
}


h3 {
    font-size: 2rem; //68px
    font-weight: 700;
    line-height: 2.9rem; //58px
    letter-spacing: 0.11rem; // 2.2px
    margin-bottom: 0;
}

// anchor elements
a {
    font-size: 1.4rem; // 38px
    font-weight: 700;
    line-height: 1.45rem; // 29px
    letter-spacing: 0.095rem; // 1.9px
    color: $offWhite;
    cursor: pointer;
    transition: 0.3s;
}


// navigation bar (top)
.navigation {

    // logo inside navigation
    h2 {
        font-family: 'Tulpen One', cursive;
        color: $offWhite;
        font-size: 2.5rem;
    }
}
