/* ====Variables===== */

// site fonts
// $heading-font: "Young Serif";
// $body-font: "Jakarta Sans";

// site colors
$off-white: #FFFFFF; 
$rust-red: #BF2603; 
$dusty-orange: #FF8327; 
$black: #111010; 
$dark-red: #220303;  