/* ====Variables===== */

// site colors
$offWhite: #FFFFFF; 
$rustRed: #BF2603; 
$dustyOrange: #FF8327; 
$black: #111010; 
$darkRed: #220303;  

 .clearfix:after {visibility: hidden; display: block; font-size: 0; content:''; clear: both; height: 0; } 