@charset "UTF-8";
/* ====setup snippets===== */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ====Variables===== */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

/* ====base styles===== */
.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

body {
  background-color: #111010;
}

html,
ul,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  display: block;
  height: auto;
}

.aButton {
  font-family: "Tulpen One", cursive;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #BF2603;
  padding: 0.4em 0.9em;
  line-height: 1.2rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.aButton:hover {
  background-color: #FF8327;
  color: #111010;
}
.aButton:focus {
  background-color: #FF8327;
  color: #111010;
}

.formContainer .topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.formContainer .topRow .top {
  width: 50%;
}
.formContainer .topRow input {
  width: 100%;
  background-color: #111010;
}
.formContainer .topRow label {
  display: block;
  padding-left: 15px;
}
.formContainer label {
  display: block;
  padding-left: 15px;
}
.formContainer textarea {
  resize: none;
  width: 100%;
  height: 15vh;
  font-size: inherit;
  font-family: inherit;
  font-weight: lighter;
  color: #FFFFFF;
  margin-top: 40px;
  padding: 15px 0 0 20px;
  background-color: #111010;
  border: 2px solid orange;
}
.formContainer textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #fff;
  letter-spacing: 1.9px;
  font-size: 1.9rem;
  font-family: "Chathura", sans-serif;
}
.formContainer textarea::-moz-placeholder {
  opacity: 1;
  color: #fff;
  letter-spacing: 1.9px;
  font-size: 1.9rem;
  font-family: "Chathura", sans-serif;
}
.formContainer textarea:-ms-input-placeholder {
  opacity: 1;
  color: #fff;
  letter-spacing: 1.9px;
  font-size: 1.9rem;
  font-family: "Chathura", sans-serif;
}
.formContainer textarea::-ms-input-placeholder {
  opacity: 1;
  color: #fff;
  letter-spacing: 1.9px;
  font-size: 1.9rem;
  font-family: "Chathura", sans-serif;
}
.formContainer textarea::placeholder {
  opacity: 1;
  color: #fff;
  letter-spacing: 1.9px;
  font-size: 1.9rem;
  font-family: "Chathura", sans-serif;
}
.formContainer button {
  font-family: "Tulpen One", cursive;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #BF2603;
  padding: 0.3em 0.9em;
  line-height: 1.2rem;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  margin-top: 40px;
  border: none;
}
.formContainer button:hover {
  background-color: #FF8327;
  color: #111010;
}
.formContainer button:focus {
  background-color: #FF8327;
  color: #111010;
  border: 2px solid #FFFFFF;
}

/* ====footer===== */
.copyright {
  text-align: center;
  padding-top: 10px;
  background-color: #333;
  height: 4vh;
  min-width: 330px;
}
.copyright i {
  font-size: 1rem;
}

html {
  font-size: 125%;
}

body {
  font-family: "Chathura", sans-serif;
  color: #FFFFFF;
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

h2, h3 {
  color: #FFFFFF;
}

h1 {
  font-family: "Tulpen One", cursive;
  font-size: 13.07rem;
  letter-spacing: 2.4px;
  line-height: 9.2rem;
  color: #FF8327;
}

h2 {
  font-size: 4.16rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 2.6px;
  margin-bottom: 0;
}

h3 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0.11rem;
  margin-bottom: 0;
}

a {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.45rem;
  letter-spacing: 0.095rem;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation h2 {
  font-family: "Tulpen One", cursive;
  color: #FFFFFF;
  font-size: 2.5rem;
}

/* ====Navigation===== */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  background: #000;
  height: 5vh;
  text-transform: uppercase;
}
.navigation h2 {
  text-transform: none;
}
.navigation a:hover {
  color: #FF8327;
}
.navigation a:focus {
  color: #FF8327;
}

/* ====Index Sections SCSS===== */
/* ====header===== */
.indexHeader {
  background-image: url("../../../assets/home-image-1.jpg");
  background-size: cover;
  height: 75vh;
  position: relative;
}
.indexHeader .logoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}
.indexHeader img {
  width: 50%;
  min-height: 370px;
  position: absolute;
  bottom: -23%;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ====information section===== */
.information {
  padding-top: 180px;
}
.information ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.information ul li {
  width: 50%;
  padding: 50px;
  position: relative;
}
.information ul li .newSpace::before,
.information ul li .community::before,
.information ul li .blogImg::before,
.information ul li .getInTouch::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #BF2603;
  position: absolute;
  left: -2%;
  top: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.1em;
}
.information ul li .newSpace::before {
  content: "\e3af";
}
.information ul li .community::before {
  content: "\f0c0";
}
.information ul li .blogImg::before {
  content: "\f15b";
}
.information ul li .getInTouch::before {
  content: "\f879";
}

/* ====blog section===== */
.blog {
  background-color: #220303;
  margin-top: 80px;
}
.blog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog .wrapper .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
}
.blog .wrapper .row:nth-of-type(1) .textContainer {
  padding-top: 85px;
}
.blog .wrapper .row:nth-of-type(2) h2 {
  text-align: right;
  padding-top: 85px;
}
.blog .wrapper .row div {
  width: 50%;
}
.blog .wrapper .row .imageContainer {
  position: relative;
  height: 45vh;
}
.blog .wrapper .row .imageContainer .image {
  position: absolute;
  width: 50vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -20px 20px 0px 0px #FF8327;
          box-shadow: -20px 20px 0px 0px #FF8327;
}
.blog .wrapper .row .imageContainer .image1 {
  right: 0;
  -webkit-box-shadow: 20px 20px 0px -5px #FF8327;
          box-shadow: 20px 20px 0px -5px #FF8327;
  top: -6%;
}
.blog .wrapper .row .imageContainer .image2 {
  bottom: -10%;
}
.blog .wrapper .row .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog .wrapper .row .textContainer h2 {
  margin-bottom: 15px;
}
.blog .wrapper .row .textContainer .aButton {
  margin-top: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.blog .wrapper .row .textContainer:nth-of-type(1) .aButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* ====get in touch section===== */
.getInTouchTextBox {
  margin-top: 150px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.getInTouchTextBox h3 {
  color: #FF8327;
  text-align: center;
  padding-bottom: 1.2rem;
}
.getInTouchTextBox p {
  text-align: center;
}
.getInTouchTextBox .aButton {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 1.5rem;
}

/* ====image banner===== */
.imageBreak {
  width: 100vw;
}
.imageBreak img {
  width: 100%;
  min-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

/* ====event section===== */
.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 100px;
  gap: 5rem;
}
.events .eventImageBox {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.events .eventImageBox img {
  -webkit-box-shadow: -15px 15px 0px 0px #FF8327;
          box-shadow: -15px 15px 0px 0px #FF8327;
  min-width: 25%;
  height: auto;
}
.events .eventTextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
.events .eventTextBox h3 {
  color: #FF8327;
  text-transform: capitalize;
}
.events .eventTextBox .aButton {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1.5rem;
}

/* ====instagram gallery section===== */
.instagram {
  background-color: #220303;
  padding: 100px 0;
}
.instagram .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.instagram .galleryContainer .gram {
  width: 33.3333333333%;
  cursor: pointer;
}
.instagram .galleryContainer .gram img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

/* ====Blog Sections SCSS===== */
.blogHeader {
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../../assets/blog-header-1.jpg");
  background-position: right bottom;
  background-size: cover;
}
.blogHeader h2 {
  text-transform: capitalize;
}

.blogBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  /* ====aside Side bar===== */
  /* ====post content===== */
}
.blogBox .asideBar {
  padding: 0 20px 20px;
  background-color: #220303;
  width: 300px;
  height: 100%;
  margin-top: 100px;
  margin-right: 40px;
  margin-left: 80px;
}
.blogBox .asideBar .asideBlogMission a {
  color: #FF8327;
}
.blogBox .asideBar .asideBlogNavigation h3 {
  text-transform: capitalize;
  padding-top: 30px;
}
.blogBox .asideBar .asideBlogNavigation li {
  position: relative;
  padding-left: 30px;
}
.blogBox .asideBar .asideBlogNavigation li::before {
  content: " · ";
  color: red;
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 20px;
  -webkit-transform: translate(-50%, -25px);
          transform: translate(-50%, -25px);
}
.blogBox .asideBar .missionImg {
  width: 360px;
}
.blogBox .asideBar .missionImg img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  left: -100px;
  top: -15px;
}
.blogBox .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  top: -145px;
  right: 0;
}
.blogBox .post .postContainer {
  -webkit-box-shadow: -16px 15px 0px -8px #FF8327, -16px 16px 0px -8px #FF8327, 8px 16px 0px -8px #FF8327;
          box-shadow: -16px 15px 0px -8px #FF8327, -16px 16px 0px -8px #FF8327, 8px 16px 0px -8px #FF8327;
}
.blogBox .post .postContainer .blogImg {
  margin-left: 12px;
}
.blogBox .post .postContainer .blogImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -20px 20px 0px -3px #FF8327;
          box-shadow: -20px 20px 0px -3px #FF8327;
}
.blogBox .post .postContainer .content {
  padding-bottom: 100px;
  padding-left: 30px;
}
.blogBox .post .postContainer .content h1 {
  font-size: 3.4rem;
  text-transform: capitalize;
  font-family: "Chathura", sans-serif;
  color: #FFFFFF;
  line-height: 2.9rem;
  padding-top: 80px;
}
.blogBox .post .postContainer .content h4 {
  color: #FF8327;
  padding-bottom: 30px;
}

/* ====comments section===== */
.comments {
  padding-left: 40px;
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.comments h3 {
  padding-bottom: 20px;
  text-transform: capitalize;
  width: 60%;
}
.comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
.comments .comment img {
  margin-right: 40px;
}
.comments .commentTextContainer h4 {
  color: #FF8327;
  padding-bottom: 10px;
}
.comments .comment1 {
  margin-bottom: 60px;
}

/* ====comment form===== */
.blogForm {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.blogForm .blogTopRow {
  width: 60%;
}
.blogForm .blogTopRow input {
  border: none;
  border-bottom: 2px solid orange;
}
.blogForm .blogTextArea {
  width: 60%;
}
.blogForm .blogTextArea textarea {
  border: 2px solid orange;
  height: 20vh;
}

/* ====Contact Sections SCSS===== */
.contactHeader {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../../assets/contact-header-1.jpg");
  background-position: bottom;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56vh;
}
.contactContainer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 30vw;
  margin-bottom: 20px;
}
.contactContainer .social ul li i {
  font-size: 1rem;
}
.contactContainer .contactEmail {
  padding-bottom: 10px;
}
.contactContainer address {
  padding-top: 100px;
  width: 30%;
}

/* ====contact form===== */
.contactFormContainer {
  background-color: #220303;
  padding: 50px;
  -webkit-box-shadow: 15px 15px 0 0 #FF8327;
          box-shadow: 15px 15px 0 0 #FF8327;
  position: relative;
  top: -100px;
}
.contactFormContainer .contactTopRow input {
  background-color: #220303;
  border: none;
  border-bottom: 2px solid #FFFFFF;
}
.contactFormContainer textarea {
  background-color: #220303;
  border: 2px solid #FFFFFF;
  height: 25vh;
}
.contactFormContainer button {
  text-transform: capitalize;
}

/* ====Media Queries SCSS===== */
@media (max-width: 960px) {
  /* ====index.scss===== */
  .blog .wrapper .row {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
  .formContainer .topRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formContainer .topRow .top {
    width: 100%;
  }
  /* ====blog.scss===== */
  .blogBox {
    gap: 40px;
  }
  .blogBox .asideBar {
    font-size: 35px;
    min-width: 240px;
  }
  .blogBox .asideBar li {
    font-size: 35px;
  }
  .blogBox .asideBar .missionImg {
    width: 300px;
  }
  /* ====contact.scss===== */
  .contactContainer {
    height: auto;
  }
}
@media (max-width: 768px) {
  /* ====index.scss===== */
  .information ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information ul li {
    width: 100%;
  }
  .blog .wrapper .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .wrapper .row div {
    width: 100%;
  }
  .blog .wrapper .row:nth-of-type(1) .textContainer {
    padding-top: 30px;
  }
  .blog .wrapper .row:nth-of-type(2) h2 {
    padding-top: 100px;
    text-align: center;
  }
  .blog .wrapper .row .imageContainer .image {
    width: 100vw;
  }
  .blog .wrapper .row .textContainer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .blog .wrapper .row .textContainer h2 {
    text-align: center;
  }
  .blog .wrapper .row .textContainer .aButton {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .blog .wrapper .row .textContainer:nth-of-type(1) .aButton {
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 2rem;
  }
  .getInTouchTextBox {
    margin-top: 5rem;
  }
  .events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .events .eventTextBox {
    text-align: center;
  }
  .events .eventTextBox .aButton {
    -ms-flex-item-align: center;
        align-self: center;
  }
  /* ====blog.scss===== */
  .asideBar {
    display: none;
  }
  .comments {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comments h3 {
    width: 100%;
  }
  .comments .comment {
    width: 100%;
  }
  .blogForm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* ====contact.scss===== */
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContainer address {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 0;
    margin-top: -50px;
    margin-bottom: 50px;
    width: 40%;
    min-width: 185px;
  }
  .contactContainer address .social ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* ====index.scss===== */
  .indexHeader img {
    display: none;
  }
  .information {
    padding-top: 2.5rem;
  }
  .instagram .galleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .instagram .galleryContainer .gram {
    width: 75%;
  }
  /* ====blog.scss===== */
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment .commentImg {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .comment .commentImg img {
    margin: 0;
    margin-bottom: 20px;
  }
  h3 {
    text-align: center;
  }
  .blogForm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogForm .blogTopRow,
.blogForm .blogTextArea {
    width: 100%;
  }
}